//Variables-colors//
$color-gray-dark: #777;
$color-white: #fff;
$color-black: #000;

//Variables-fonts//
$default-font-size: 16px;

//Global//
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 2rem;
}
